<% @tweets.each do |tweet| %>
  <div class="tweet" data-id="<%= tweet[:retweeter] ? tweet[:retweeter][:id] : tweet[:id] %>">
    <div class="icon">
      <img src="<%= tweet[:user][:icon] %>">
    </div>
    <div class="contents">
      <div class="user">
        <span class="name"><%= tweet[:user][:name] %></span>
        <span class="screenName">@<%= tweet[:user][:screen_name] %></span>
        <span class="createdAt"><a target="_blank" href="<%= tweet[:tweet_url] %>"><%= tweet[:created_at] %></a></span>
      </div>
      <div class="text"><%= tweet[:text] %></div>
      <div class="media">
        <% tweet[:media_urls].each do |media_url| %>
          <div class="medium">
            <img src="<%= media_url %>">
          </div>
        <% end %>
      </div>
      <% if tweet[:retweeter] %>
        <div class="retweeter">
          <span class="rtby">RTby</span>
          <span class="icon"><img src="<%= tweet[:retweeter][:user][:icon] %>"></span>
          <span class="name"><%= tweet[:retweeter][:user][:name] %></span>
          <span class="screenName">@<%= tweet[:retweeter][:user][:screen_name] %></span>
          <span class="created_at"><a target="_blank" href="<%= tweet[:retweeter][:tweet_url] %>"><%= tweet[:retweeter][:created_at] %></a></span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
